body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #525252;
}

#events-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid white;
    height: 370px;
    min-width: 400px;
    max-width: 400px;
}

.event-section-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 100%;
    padding: 13px 0;
}

.event-title {
    padding: 15px 20px;
    font-weight: 700;
    text-align: left;
    font-size: 34px;
    width: 60%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.event-status {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    width: 40%;
    height: 120px;  
}

.event-section-footer{
    height: 222px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0 0 10px 10px;
}

.event-more {
    padding: 20px;
    flex-direction: column;
}

.premium-btn {
    background-color: #ffffff;
    color: #0F5295;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #211C3F;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}

.event-btn {
    background-color: #ffffff;
    color: #0F5295;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid #211C3F;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

.read-more {
    background-color: #0A75CC;
    color: #FFFFFF;
}

.event-btn:hover {
    background-color: lightblue;
    border: 1px solid #ffffff;
}

.read-more:hover {
    color: #211C3F;
    border: 1px solid transparent;
}

.event-status {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
}

.event-date {
    font-size: 14px;
    font-weight: 600;
}

.event-section-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    height: 24px;
    width: 90%;
    margin: 20px;
}

header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: 80px;
}

footer {
    padding: 20px 0 20px 20px;
    color: darkgray;
    font-size: 10px;
}
