body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #000000
}

#events-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid lightblue;
    /* padding: 10px; */
    height: 370px;
    min-width: 400px;
    max-width: 400px;
}

.event-section-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    padding-top: 12px;
}

.event-title {
    padding: 15px 30px;
    font-weight: 700;
    text-align: left;
    font-size: 34px;
    width: 50%;
    height: 120px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.event-status {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 30px;

    width: 50%;
    height: 120px;  
}

.event-section-footer{
    height: 252px;  

}